In [213]:
#http://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/
import pandas as pd
import numpy as np
import random

###### Selection Options
There’s three main options to achieve the selection and indexing activities in Pandas, which can be confusing. The three selection cases and methods covered in this post are:

Selecting data by row numbers (.iloc)
Selecting data by label or by a conditional statment (.loc)
Selecting in a hybrid approach (.ix)

In [214]:
data= pd.read_csv('https://s3-eu-west-1.amazonaws.com/shanebucket/downloads/uk-500.csv')

In [216]:
data.shape

(500, 11)

In [215]:
data.head()

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

1. Selecting pandas data using “iloc”
The iloc indexer for Pandas Dataframe is used for integer-location based indexing / selection by position.

The iloc indexer syntax is data.iloc[<row selection>, <column selection>], which is sure to be a source of confusion for R users. “iloc” in pandas is used to select rows and columns by number, in the order that they appear in the data frame. You can imagine that each row has a row number from 0 to the total rows (data.shape[0])  and iloc[] allows selections based on these numbers. The same applies for columns (ranging from 0 to data.shape[1] )

There are two “arguments” to iloc – a row selector, and a column selector.  For example:

In [217]:
data.columns

Index(['first_name', 'last_name', 'company_name', 'address', 'city', 'county',
       'postal', 'phone1', 'phone2', 'email', 'web'],
      dtype='object')

In [218]:
 #Single selections using iloc and DataFrame
# Rows:

In [219]:
data.iloc[0]# First row of data

first_name                                   Aleshia
last_name                                 Tomkiewicz
company_name                 Alan D Rosenburg Cpa Pc
address                                 14 Taylor St
city                               St. Stephens Ward
county                                          Kent
postal                                       CT2 7PP
phone1                                  01835-703597
phone2                                  01944-369967
email                        atomkiewicz@hotmail.com
web             http://www.alandrosenburgcpapc.co.uk
Name: 0, dtype: object

In [220]:
data.iloc[1]

first_name                                   Evan
last_name                               Zigomalas
company_name                   Cap Gemini America
address                               5 Binney St
city                                   Abbey Ward
county                            Buckinghamshire
postal                                   HP11 2AX
phone1                               01937-864715
phone2                               01714-737668
email                    evan.zigomalas@gmail.com
web             http://www.capgeminiamerica.co.uk
Name: 1, dtype: object

In [221]:
data.iloc[-1]# last row of data

first_name                                               Mi
last_name                                            Richan
company_name                 Nelson Wright Haworth Golf Crs
address                                     6 Norwood Grove
city                                      Tanworth-in-Arden
county                                         Warwickshire
postal                                              B94 5RZ
phone1                                         01451-785624
phone2                                         01202-738406
email                                        mi@hotmail.com
web             http://www.nelsonwrighthaworthgolfcrs.co.uk
Name: 499, dtype: object

In [222]:
data.iloc[:,0]# first column of data

0          Aleshia
1             Evan
2           France
3          Ulysses
4           Tyisha
5             Eric
6             Marg
7          Laquita
8             Lura
9           Yuette
10        Fernanda
11     Charlesetta
12        Corrinne
13          Niesha
14          Rueben
15         Michell
16           Edgar
17          Dewitt
18        Charisse
19             Mee
20           Peter
21         Octavio
22          Martha
23         Tamesha
24            Tess
25         Leonard
26        Svetlana
27             Pok
28       Augustine
29           Karma
          ...
470           Tony
471            Val
472            Mel
473       Isabella
474         Erasmo
475          Ivory
476         Nikita
477          Aleta
478           Owen
479        Pauline
480        Tijuana
481          Ahmad
482         Jamika
483        Derrick
484     Jacquelyne
485        Zachary
486         Sophia
487       Isabelle
488         Ronnie
489       Krystina
490         Rosita
491           Huey
492         Elbert
493           Pura
494         Alesia
495          Avery
496           Reid
497      Charlette
498      Celestina
499             Mi
Name: first_name, dtype: object

In [223]:
data.iloc[:,1]

0      Tomkiewicz
1       Zigomalas
2         Andrade
3       Mcwalters
4          Veness
5           Rampy
6        Grasmick
7           Hisaw
8        Manzella
9          Klapec
10         Writer
11            Erm
12          Jaret
13          Bruch
14      Gastellum
15      Throssell
16          Kanne
17          Julio
18       Spinello
19       Lapinski
20      Gutierres
21      Salvadore
22        Teplica
23         Veigel
24          Sitra
25         Kufner
26         Tauras
27       Molaison
28       Growcock
29         Quarto
          ...
470    Diazdeleon
471        Villot
472      Picciuto
473    Piatkowski
474          Rhea
475       Lohrenz
476         Walka
477        Ligons
478       Jentzen
479         Fling
480      Machalek
481       Alsaqri
482        Conoly
483       Dolloff
484       Reibman
485    Freeburger
486       Gaucher
487          Kono
488       Brigman
489    Schlabaugh
490     Ausdemore
491       Stancil
492       Fiorino
493       Manciel
494         Katie
495          Veit
496       Euresti
497      Brenning
498         Keeny
499        Richan
Name: last_name, dtype: object

In [224]:
data.iloc[:,-1]

0              http://www.alandrosenburgcpapc.co.uk
1                 http://www.capgeminiamerica.co.uk
2                  http://www.elliottjohnwesq.co.uk
3                      http://www.mcmahanbenl.co.uk
4                    http://www.champagneroom.co.uk
5              http://www.thompsonmichaelcesq.co.uk
6          http://www.wranglehillautoauctslvg.co.uk
7              http://www.incommunicationsinc.co.uk
8                    http://www.bizerbausainc.co.uk
9                         http://www.maxvideo.co.uk
10                 http://www.krassociatesinc.co.uk
11                    http://www.cainjohnmesq.co.uk
12                 http://www.soundvisioncorp.co.uk
13            http://www.rowleyhansellpetetin.co.uk
14     http://www.industrialengineeringassocs.co.uk
15                 http://www.weissspirtguyer.co.uk
16               http://www.crowankennethwesq.co.uk
17              http://www.rittenhousemotorco.co.uk
18              http://www.modernplasticscorp.co.uk
19           http://www.gallowayelectriccoinc.co.uk
20         http://www.niagaracustombuiltmfgco.co.uk
21             http://www.practicalperiphrals.co.uk
22              http://www.curtinpatriciamesq.co.uk
23                 http://www.wilhelmjamesejr.co.uk
24                      http://www.smartsigns.co.uk
25       http://www.arcticstardistributinginc.co.uk
26            http://www.lensbowergregorylesq.co.uk
27             http://www.portalmetalproducts.co.uk
28                  http://www.lynemacliffcpa.co.uk
29                    http://www.jcsmachinery.co.uk
                           ...
470               http://www.dillingharrisinc.co.uk
471             http://www.horizonairmagazine.co.uk
472                  http://www.avantelimited.co.uk
473              http://www.millerwilliameiii.co.uk
474                http://www.martinmorrissey.co.uk
475                  http://www.autobodycolor.co.uk
476                 http://www.fredanthonyesq.co.uk
477           http://www.advantagebookkeeping.co.uk
478            http://www.capitalfastenersinc.co.uk
479       http://www.cumberlandvacuumproducts.co.uk
480             http://www.schwartzthomaseesq.co.uk
481      http://www.allianceconstructioncoinc.co.uk
482                 http://www.kellerraymondc.co.uk
483          http://www.prototekmanufacturing.co.uk
484              http://www.greatclipsforhair.co.uk
485                 http://www.countrykitchen.co.uk
486                  http://www.tcesystemsinc.co.uk
487      http://www.rockspringspetroleumequip.co.uk
488                  http://www.howardjohnson.co.uk
489            http://www.harrisoldsmobileinc.co.uk
490                 http://www.jurdemscottesq.co.uk
491                   http://www.lindnerfunds.co.uk
492               http://www.donaldgnelsonesq.co.uk
493                  http://www.ciainspection.co.uk
494         http://www.nelsonstrmtpestcntrlco.co.uk
495       http://www.plazagourmetdelicatessen.co.uk
496              http://www.fitzgeraldedwardj.co.uk
497                http://www.fureyassociates.co.uk
498          http://www.bfgfederalcreditunion.co.uk
499     http://www.nelsonwrighthaworthgolfcrs.co.uk
Name: web, dtype: object

In [225]:
#Multiple columns and rows can be selected together using the .iloc indexer.
# Multiple row and column selections using iloc and DataFrame
data.iloc[0:5]#first 5 rowsand all the columns of the dataframe

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

In [226]:
data.iloc[:,0:2]# all rows and first 2 columns

      first_name   last_name
0        Aleshia  Tomkiewicz
1           Evan   Zigomalas
2         France     Andrade
3        Ulysses   Mcwalters
4         Tyisha      Veness
5           Eric       Rampy
6           Marg    Grasmick
7        Laquita       Hisaw
8           Lura    Manzella
9         Yuette      Klapec
10      Fernanda      Writer
11   Charlesetta         Erm
12      Corrinne       Jaret
13        Niesha       Bruch
14        Rueben   Gastellum
15       Michell   Throssell
16         Edgar       Kanne
17        Dewitt       Julio
18      Charisse    Spinello
19           Mee    Lapinski
20         Peter   Gutierres
21       Octavio   Salvadore
22        Martha     Teplica
23       Tamesha      Veigel
24          Tess       Sitra
25       Leonard      Kufner
26      Svetlana      Tauras
27           Pok    Molaison
28     Augustine    Growcock
29         Karma      Quarto
..           ...         ...
470         Tony  Diazdeleon
471          Val      Villot
472          Mel    Picciuto
473     Isabella  Piatkowski
474       Erasmo        Rhea
475        Ivory     Lohrenz
476       Nikita       Walka
477        Aleta      Ligons
478         Owen     Jentzen
479      Pauline       Fling
480      Tijuana    Machalek
481        Ahmad     Alsaqri
482       Jamika      Conoly
483      Derrick     Dolloff
484   Jacquelyne     Reibman
485      Zachary  Freeburger
486       Sophia     Gaucher
487     Isabelle        Kono
488       Ronnie     Brigman
489     Krystina  Schlabaugh
490       Rosita   Ausdemore
491         Huey     Stancil
492       Elbert     Fiorino
493         Pura     Manciel
494       Alesia       Katie
495        Avery        Veit
496         Reid     Euresti
497    Charlette    Brenning
498    Celestina       Keeny
499           Mi      Richan

[500 rows x 2 columns]

In [227]:
data.iloc[487]# note the return is not the same as data.loc

first_name                                        Isabelle
last_name                                             Kono
company_name                  Rock Springs Petroleum Equip
address                                 4920 Fazakerley Rd
city                               Plymstock Dunstone Ward
county                                               Devon
postal                                             PL9 8RD
phone1                                        01552-682601
phone2                                        01953-816728
email                              isabelle.kono@yahoo.com
web             http://www.rockspringspetroleumequip.co.uk
Name: 487, dtype: object

In [228]:
data.iloc[[0,3,6,24], [0,5,6]] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.
#data[['first_name','county', 'postal']]# will bring in all the rows

   first_name        county    postal
0     Aleshia          Kent   CT2 7PP
3     Ulysses  Lincolnshire  DN36 5RP
6        Marg   Southampton  SO14 3TY
24       Tess   West Sussex  PO19 1RH

In [229]:
data.iloc[0:5, 5:8] # first 5 rows and 5th, 6th, 7th columns of data frame (county -> phone1).

            county    postal        phone1
0             Kent   CT2 7PP  01835-703597
1  Buckinghamshire  HP11 2AX  01937-864715
2      Bournemouth   BH6 3BE  01347-368222
3     Lincolnshire  DN36 5RP  01912-771311
4    West Midlands   B70 9DT  01547-429341

Note that .iloc returns a Pandas Series when one row is selected, and a Pandas DataFrame when multiple rows are selected, or if any column in full is selected. To counter this, pass a single-valued list if you require DataFrame output.
When using .loc, or .iloc, you can control the output format by passing lists or single values to the selectors.
When using .loc, or .iloc, you can control the output format by passing lists or single values to the selectors.

When selecting multiple columns or multiple rows in this manner, remember that in your selection e.g.[1:5], the rows/columns selected will run from the first number to one minus the second number. e.g. [1:5] will go 1,2,3,4., [x,y] goes from x to y-1.
In practice, I rarely use the iloc indexer, unless I want the first ( .iloc[0] ) or the last ( .iloc[-1] )  row of the data frame.

In [230]:
print (type(data.iloc[100]))# result of type series because only one row is selected

<class 'pandas.core.series.Series'>

In [231]:
print (type(data.iloc[[100]]))# result of type DataFrame because list selection is used

<class 'pandas.core.frame.DataFrame'>

In [232]:
print (type(data.iloc[2:10]))# result of type DataFrame since multiple row selection

<class 'pandas.core.frame.DataFrame'>

In [233]:
print (type(data.iloc[1:2, 3]))# series result because only one column selected

<class 'pandas.core.series.Series'>

In [234]:
print (type(data.iloc[1:2, [3]]))# dataFrame result with one column be one column selected

<class 'pandas.core.frame.DataFrame'>

In [235]:
print (type(data.iloc[1:2, 3:6])) # Dataframe result because multiple rows and columns selected

<class 'pandas.core.frame.DataFrame'>

###### 2. Selecting pandas data using “loc”
The Pandas loc indexer can be used with DataFrames for two different use cases:

a.) Selecting rows by label/index
b.) Selecting rows with a boolean / conditional lookup
The loc indexer is used with the same syntax as iloc: data.loc[<row selection>, <column selection>] .

###### 2a. Label-based / Index-based indexing using .loc
Selections using the loc method are based on the index of the data frame (if any). Where the index is set on a DataFrame, using <code>df.set_index()</code>, the .loc method directly selects based on index values of any rows. For example, setting the index of our test data frame to the persons “last_name”:

In [236]:
data.set_index("last_name", inplace=True)

In [237]:
data.head(3)

,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
last_name,,,,,,,,,,
Tomkiewicz,Aleshia,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
Zigomalas,Evan,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
Andrade,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk

Now with the index set, we can directly select rows for different “last_name” values using .loc[<label>]  – either singly, or in multiples. For example:

In [238]:
data.loc['Andrade']

first_name                                France
company_name                 Elliott, John W Esq
address                             8 Moor Place
city              East Southbourne and Tuckton W
county                               Bournemouth
postal                                   BH6 3BE
phone1                              01347-368222
phone2                              01935-821636
email                 france.andrade@hotmail.com
web             http://www.elliottjohnwesq.co.uk
Name: Andrade, dtype: object

In [239]:
data.loc[['Andrade','Veness']]

,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
last_name,,,,,,,,,,
Andrade,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
Veness,Tyisha,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

###### Selecting single or multiple rows using .loc index selections with pandas. Note that the first example returns a series, and the second returns a DataFrame. You can achieve a single-column DataFrame by passing a single-element list to the .loc operation.

In [240]:
print (type(data.loc['Andrade']))

<class 'pandas.core.series.Series'>

Select columns with .loc using the names of the columns. In most of my data work, typically I have named columns, and use these named selections.

In [241]:
data.loc[['Andrade', 'Veness'], ['first_name','address','city']]

          first_name            address                            city
last_name
Andrade       France       8 Moor Place  East Southbourne and Tuckton W
Veness        Tyisha  5396 Forth Street      Greets Green and Lyng Ward

You can select ranges of index labels – the selection </code>data.loc[‘Bruch’:’Julio’]</code> will return all rows in the data frame between the index entries for “Bruch” and “Julio”. The following examples should now make sense:

In [242]:
data.loc[['Andrade', 'Veness'], 'city':'email']
## Select rows with index values 'Andrade' and 'Veness', with all columns between 'city' and 'email'

,city,county,postal,phone1,phone2,email
last_name,,,,,,
Andrade,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com
Veness,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com

In [243]:
# Select same rows, with just 'first_name', 'address' and 'city' columns
data.loc['Andrade':'Veness', ['first_name', 'address', 'city']]

          first_name            address                            city
last_name
Andrade       France       8 Moor Place  East Southbourne and Tuckton W
Mcwalters    Ulysses      505 Exeter Rd              Hawerby cum Beesby
Veness        Tyisha  5396 Forth Street      Greets Green and Lyng Ward

In [244]:
# Change the index to be based on the 'id' column
data.reset_index('id', inplace=True)

In [245]:
data.loc[487]

last_name                                             Kono
first_name                                        Isabelle
company_name                  Rock Springs Petroleum Equip
address                                 4920 Fazakerley Rd
city                               Plymstock Dunstone Ward
county                                               Devon
postal                                             PL9 8RD
phone1                                        01552-682601
phone2                                        01953-816728
email                              isabelle.kono@yahoo.com
web             http://www.rockspringspetroleumequip.co.uk
Name: 487, dtype: object

In [246]:
data.tail()

,last_name,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
495,Veit,Avery,Plaza Gourmet Delicatessen,9166 Devon St #905,Knightsbridge and Belgravia Wa,Greater London,SW1W 8JY,01748-625058,01369-185737,avery@veit.co.uk,http://www.plazagourmetdelicatessen.co.uk
496,Euresti,Reid,"Fitzgerald, Edward J",70 Foster St,Inverness Ness-Side Ward,Highland,IV2 6WT,01916-963261,01370-319414,reuresti@euresti.co.uk,http://www.fitzgeraldedwardj.co.uk
497,Brenning,Charlette,Furey & Associates,714 Fonthill Rd,Darton West Ward,South Yorkshire,S75 5EJ,01888-152110,01301-312487,cbrenning@brenning.co.uk,http://www.fureyassociates.co.uk
498,Keeny,Celestina,Bfg Federal Credit Union,9 Milton St,Consett North ED,County Durham,DH8 5LP,01877-379681,01600-463475,celestina_keeny@gmail.com,http://www.bfgfederalcreditunion.co.uk
499,Richan,Mi,Nelson Wright Haworth Golf Crs,6 Norwood Grove,Tanworth-in-Arden,Warwickshire,B94 5RZ,01451-785624,01202-738406,mi@hotmail.com,http://www.nelsonwrighthaworthgolfcrs.co.uk

Note that in the last example, data.loc[487] (the row with index value 487) is not equal to data.iloc[487] (the 487th row in the data). The index of the DataFrame can be out of numeric order, and/or a string or multi-value.

In [247]:
data.iloc[487]

last_name                                             Kono
first_name                                        Isabelle
company_name                  Rock Springs Petroleum Equip
address                                 4920 Fazakerley Rd
city                               Plymstock Dunstone Ward
county                                               Devon
postal                                             PL9 8RD
phone1                                        01552-682601
phone2                                        01953-816728
email                              isabelle.kono@yahoo.com
web             http://www.rockspringspetroleumequip.co.uk
Name: 487, dtype: object

###### 2b. Boolean / Logical indexing using .loc
Conditional selections with boolean arrays using data.loc[<selection>] is the most common method that I use with Pandas DataFrames. With boolean indexing or logical selection, you pass an array or Series of True/False values to the .loc indexer to select the rows where your Series has True values.

In most use cases, you will make selections based on the values of different columns in your data set.

For example, the statement data[‘first_name’] == ‘Antonio’] produces a Pandas Series with a True/False value for every row in the ‘data’ DataFrame, where there are “True” values for the rows where the first_name is “Antonio”. These type of boolean arrays can be passed directly to the .loc indexer as so:

###### Select columns with .loc using the names of the columns. In most of my data work, typically I have named columns, and use these named selections.

In [248]:
data.loc[data['first_name']== 'Antonio']

,last_name,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
272,Villamarin,Antonio,Combs Sheetmetal,353 Standish St #8264,Little Parndon and Hare Street,Hertfordshire,CM20 2HT,01559-403415,01388-777812,antonio.villamarin@gmail.com,http://www.combssheetmetal.co.uk
285,Glasford,Antonio,Saint Thomas Creations,425 Howley St,Gaer Community,Newport,NP20 3DE,01463-409090,01242-318420,antonio_glasford@glasford.co.uk,http://www.saintthomascreations.co.uk
427,Heilig,Antonio,Radisson Suite Hotel,35 Elton St #3,Ipplepen,Devon,TQ12 5LL,01324-171614,01442-946357,antonio.heilig@gmail.com,http://www.radissonsuitehotel.co.uk

###### Using a boolean True/False series to select rows in a pandas data frame – all rows with first name of “Antonio” are selected.

In [249]:
data.loc[data['first_name']== 'Erasmo',['company_name','email','phone1']]

           company_name                         email        phone1
233  Active Air Systems  erasmo.talentino@hotmail.com  01492-454455
393            Pan Optx             egath@hotmail.com  01445-796544
474    Martin Morrissey       erasmo_rhea@hotmail.com  01507-386397

In [250]:
data[['company_name','email','phone1']][data['first_name'] == 'Erasmo']# same as above

           company_name                         email        phone1
233  Active Air Systems  erasmo.talentino@hotmail.com  01492-454455
393            Pan Optx             egath@hotmail.com  01445-796544
474    Martin Morrissey       erasmo_rhea@hotmail.com  01507-386397

Selecting multiple columns with loc can be achieved by passing column names to the second argument of .loc[]

Note that when selecting columns, if one column only is selected, the .loc operator returns a Series. For a single column DataFrame, use a one-element list to keep the DataFrame format, for example:

In [251]:
data.loc[data['first_name']== 'Antonio', 'email']#.loc <selection> return a series- omitting the square bracket return a series

272       antonio.villamarin@gmail.com
285    antonio_glasford@glasford.co.uk
427           antonio.heilig@gmail.com
Name: email, dtype: object

In [252]:
print(type(data.loc[data['first_name']== 'Antonio', 'email']))

<class 'pandas.core.series.Series'>

In [253]:
data.loc[data['first_name']== 'Antonio', ['email']]#.loc <selection> return a DataFrame

                               email
272     antonio.villamarin@gmail.com
285  antonio_glasford@glasford.co.uk
427         antonio.heilig@gmail.com

In [254]:
print(type(data.loc[data['first_name']== 'Antonio', ['email']]))

<class 'pandas.core.frame.DataFrame'>

###### If selections of a single column are made as a string, a series is returned from .loc. Pass a list to get a DataFrame back.

In [255]:
# Select rows with first name Antonio, # and all columns between 'city' and 'email'
data.loc[data['first_name'] == 'Antonio', 'city':'email']

,city,county,postal,phone1,phone2,email
272,Little Parndon and Hare Street,Hertfordshire,CM20 2HT,01559-403415,01388-777812,antonio.villamarin@gmail.com
285,Gaer Community,Newport,NP20 3DE,01463-409090,01242-318420,antonio_glasford@glasford.co.uk
427,Ipplepen,Devon,TQ12 5LL,01324-171614,01442-946357,antonio.heilig@gmail.com

In [256]:
# Select rows where the email column ends with 'hotmail.com', include all columns
data.loc[data['email'].str.endswith("hotmail.com")]

,last_name,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
0,Tomkiewicz,Aleshia,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
2,Andrade,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Mcwalters,Ulysses,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Veness,Tyisha,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
6,Grasmick,Marg,Wrangle Hill Auto Auct & Slvg,7457 Cowl St #70,Bargate Ward,Southampton,SO14 3TY,01865-582516,01362-620532,marg@hotmail.com,http://www.wranglehillautoauctslvg.co.uk
8,Manzella,Lura,Bizerba Usa Inc,929 Augustine St,Staple Hill Ward,South Gloucestershire,BS16 4LL,01907-538509,01340-713951,lura@hotmail.com,http://www.bizerbausainc.co.uk
17,Julio,Dewitt,Rittenhouse Motor Co,7 Richmond St,Parkham,Devon,EX39 5DJ,01253-528327,01241-964675,dewitt.julio@hotmail.com,http://www.rittenhousemotorco.co.uk
24,Sitra,Tess,Smart Signs,61 Rossett St,Chichester,West Sussex,PO19 1RH,01473-229124,01848-116775,tess_sitra@hotmail.com,http://www.smartsigns.co.uk
31,Zelaya,German,Jackson & Heit Machine Co Inc,7 Shenstone St,Longhill Ward,"Yorkshire, East (North Humbers",HU8 9PZ,01400-269033,01366-210656,german@hotmail.com,http://www.jacksonheitmachinecoinc.co.uk
33,Ear,Luis,Wa Inst For Plcy Studies,2 Birchfield Rd,Whittington,Shropshire,SY11 4PH,01462-648669,01405-648623,luis@hotmail.com,http://www.wainstforplcystudies.co.uk
34,Cobbley,Ciara,Wmgl 101.7 Fm,7523 Kempton Rd,Cockerton West Ward,Darlington,DL3 0JF,01235-647932,01809-443217,ciara_cobbley@hotmail.com,http://www.wmglfm.co.uk
35,Mould,Alethea,"Hughlett, Henry T Jr",6305 Elstow St,Castle Ward,West Sussex,BN12 6PR,01662-114247,01351-868965,alethea@hotmail.com,http://www.hughletthenrytjr.co.uk
38,Rawicki,Vicente,B & S Tool And Cutter Svc Inc,3060 St Ambrose Grove #261,Aldridge Central and South War,West Midlands,WS9 8UR,01327-770774,01286-258121,vicente_rawicki@hotmail.com,http://www.bstoolandcuttersvcinc.co.uk
39,Cua,Craig,"Berry, John M Esq",8388 Bessemer St #5,East Putney Ward,Greater London,SW15 2RP,01483-418969,01818-980469,craig@hotmail.com,http://www.berryjohnmesq.co.uk
40,Dulle,Jenise,"Alden, Michael H Esq",87 Pownall Sq,Sawston,Cambridgeshire,CB22 3BB,01709-854691,01572-193368,jenise.dulle@hotmail.com,http://www.aldenmichaelhesq.co.uk
43,Bunselmeyer,Annett,Guynes Design Inc,5562 Fairfield St #847,Ryde,Isle of Wight,PO33 1HH,01891-702579,01333-972244,abunselmeyer@hotmail.com,http://www.guynesdesigninc.co.uk
51,Sandlin,Domonique,Marketing Horizons Inc,95 Denton St,Wollaton West Ward,Nottinghamshire,NG8 2NB,01355-500797,01987-728730,domonique@hotmail.com,http://www.marketinghorizonsinc.co.uk
58,Kamens,Chantay,Brewster Wallcoverings Co,763 Parkfield Rd,Norton Canes,Staffordshire,WS11 9RH,01823-383806,01245-146126,ckamens@hotmail.com,http://www.brewsterwallcoveringsco.co.uk
67,Ferenz,Stefany,L & L Sales Co Inc,636 Portland Place,Gresham Ward,Middlesbrough,TS1 4RG,01743-977277,01704-986828,stefany@hotmail.com,http://www.llsalescoinc.co.uk
71,Rubano,Wendell,Automation Engrg & Mfg Inc,1 Back Canning St,Dunblane and Bridge of Allan W,Stirling,FK9 4LD,01837-530939,01752-386691,wendell_rubano@hotmail.com,http://www.automationengrgmfginc.co.uk
84,Frankel,Una,Shamrock Food Service,6766 Britton St #379,Crompton Ward,Greater Manchester,BL1 3EX,01912-749219,01308-356704,ufrankel@hotmail.com,http://www.shamrockfoodservice.co.uk
86,Dormanen,Mammie,Matt Parrott & Sons Co,2577 Toxteth St #5,Overton Ward,Lancashire,BB6 7UN,01527-579687,01439-184366,mammie_dormanen@hotmail.com,http://www.mattparrottsonsco.co.uk
105,Faurote,Eloisa,"Mcdonald, Michael J Esq",7033 Micawber St,Bintree,Norfolk,NR20 5NQ,01337-695353,01747-999761,eloisa.faurote@hotmail.com,http://www.mcdonaldmichaeljesq.co.uk
110,Langenbach,Sena,Alternative Collection Svc Inc,38 Avondale Rd #79,Kilmersdon,Somerset,BA3 5SJ,01756-678490,01836-695245,sena.langenbach@hotmail.com,http://www.alternativecollectionsvcinc.co.uk
113,Sovel,Wade,Manhattan Supply Co Deer Pk,2546 Hunter St,Central Buchan Ward,Aberdeenshire,AB53 6YD,01712-978062,01317-960371,wade@hotmail.com,http://www.manhattansupplycodeerpk.co.uk
115,Conatser,Deja,Universal Case Co,94 Wakefield St,Lavenham,Suffolk,CO10 9PU,01378-234592,01879-981256,deja.conatser@hotmail.com,http://www.universalcaseco.co.uk
116,Casper,Earnestine,A O J Mfg Corp,529 Stalmine Rd #3680,Saffron Walden,Essex,CB11 4DJ,01807-346103,01260-744622,earnestine_casper@hotmail.com,http://www.aojmfgcorp.co.uk
119,Hawkin,Rodrigo,"Godfroy, William Esq",661 Great Crosshall St,Forth Ward,City of Edinburgh,EH5 2LR,01936-611490,01280-275755,rodrigo@hotmail.com,http://www.godfroywilliamesq.co.uk
121,Dondero,Casey,Sarrail Lynch & Hall,464 Back Nile St #618,Acton Central Ward,Greater London,W3 6QJ,01728-100333,01862-338494,casey.dondero@hotmail.com,http://www.sarraillynchhall.co.uk
127,Nobel,Wei,Victory Coating,5221 Royston St,Eccleshall,Staffordshire,ST21 6GA,01912-146880,01608-570699,wei_nobel@hotmail.com,http://www.victorycoating.co.uk
...,...,...,...,...,...,...,...,...,...,...,...
409,Carris,Gail,Audrey M Borland Studios,6 Conyers St #3346,Hamilton South Ward,South Lanarkshire,ML3 7TE,01292-196869,01547-190531,gcarris@hotmail.com,http://www.audreymborlandstudios.co.uk
410,Oropeza,Dong,"Mayo, Timothy L Esq",8657 Cedar St #2,Kinross-shire Ward,Perth and Kinross,KY13 8EQ,01573-788734,01955-221720,doropeza@hotmail.com,http://www.mayotimothylesq.co.uk
414,Araiza,Narcisa,Danka Business Systems,8783 High St,Milton,Cambridgeshire,CB24 6ZR,01724-644767,01689-339758,naraiza@hotmail.com,http://www.dankabusinesssystems.co.uk
417,Yu,Tamra,Davis Commercial Contracting,2 Park Rd Walton #4338,Lansdown Ward,Gloucestershire,GL50 2LF,01891-816938,01635-523740,tamra.yu@hotmail.com,http://www.daviscommercialcontracting.co.uk
419,Donham,Aracelis,Sm Toth Baldridge & Van Belkum,593 Kinglake St,Fowlmere,Cambridgeshire,SG8 7TP,01924-111018,01420-311467,aracelis.donham@hotmail.com,http://www.smtothbaldridgevanbelkum.co.uk
425,Perera,Chana,Olden Camera & Lens Co Inc,9 Ogwen St,Murdostoun Ward,North Lanarkshire,ML2 8LW,01477-796750,01858-335054,chana.perera@hotmail.com,http://www.oldencameralenscoinc.co.uk
429,Mandril,Sueann,El Hispanic News,751 Stamford St,Werrington,Staffordshire,ST9 0AH,01886-226100,01717-449960,smandril@hotmail.com,http://www.elhispanicnews.co.uk
430,Hoyal,Alayna,South Bldg Code Congres,70 Royal St,Banchory and Mid Deeside Ward,Aberdeenshire,AB31 4AH,01964-720542,01983-132813,alayna_hoyal@hotmail.com,http://www.southbldgcodecongres.co.uk
433,Saik,Royce,Best Western Caprock Inn,2 Maple Grove,Kincorth,Aberdeenshire,AB12 5EJ,01972-770618,01431-812225,royce@hotmail.com,http://www.bestwesterncaprockinn.co.uk
441,Gone,Felice,A F Supl Co Div Automtc Firing,7602 Grantham St,Hexham,Northumberland,NE46 1QQ,01691-816025,01888-857515,felice.gone@hotmail.com,http://www.afsuplcodivautomtcfiring.co.uk
442,Leadbeater,Stefania,Murray Whisnant Architects,10 Carisbrooke St,Shorne,Kent,DA12 3ED,01706-546951,01356-906646,stefania_leadbeater@hotmail.com,http://www.murraywhisnantarchitects.co.uk
445,Tritten,Anglea,Waltons Carson Gardens,8 Thomaston St,Astley Bridge Ward,Greater Manchester,BL1 8RG,01818-292728,01436-350784,anglea_tritten@hotmail.com,http://www.waltonscarsongardens.co.uk
447,Hascall,Germaine,Prg Company,1616 Menzies St #453,Tadworth and Walton Ward,Surrey,KT20 7PA,01366-388506,01957-962781,ghascall@hotmail.com,http://www.prgcompany.co.uk
448,Schellenberge,Vicky,Medlab Environmental Test Inc,3922 Leda St,Moreton Morrell,Warwickshire,CV35 9BX,01625-805645,01602-772009,vschellenberge@hotmail.com,http://www.medlabenvironmentaltestinc.co.uk
452,Gesell,Teresita,Mason Insurance Agency Inc,2015 Suburban Rd,Springfield Ward,Greater London,N16 6TD,01914-501391,01372-236506,teresita_gesell@hotmail.com,http://www.masoninsuranceagencyinc.co.uk
455,Scarsella,Quiana,Looking Good,1400 Ash St,Thorpe Hamlet Ward,Norfolk,NR1 4HS,01446-936944,01492-687388,quiana_scarsella@hotmail.com,http://www.lookinggood.co.uk
459,Baldock,Anabel,William A Geppert True Value,30 Marine Parade #1,Staina Ward,Lancashire,FY5 4FN,01994-675650,01845-742562,anabel_baldock@hotmail.com,http://www.williamagepperttruevalue.co.uk
461,Vera,Rashida,Creative Consultants,8451 Bengel St,Brixham,Devon,TQ5 9JW,01286-317691,01913-489634,rashida@hotmail.com,http://www.creativeconsultants.co.uk
464,Tischner,Altha,Male Power Ltd,650 Goring St,Rainham South Ward,Kent,ME8 9PN,01373-594236,01698-785700,altha@hotmail.com,http://www.malepowerltd.co.uk
465,Yaccarino,Dortha,Atc Power Systems,6 Chestnut St,Gwersyllt Community,Wrexham,LL11 4RJ,01528-240870,01254-458143,dortha@hotmail.com,http://www.atcpowersystems.co.uk
469,Yafaie,Vallie,Micro Lan,352 Strathmore Rd,Shiphay-with-the-Willows Ward,Devon,TQ2 7JB,01251-120872,01630-603260,vyafaie@hotmail.com,http://www.microlan.co.uk
474,Rhea,Erasmo,Martin Morrissey,5544 Sutherland St,Mortehoe,Devon,EX34 7DQ,01507-386397,01899-316385,erasmo_rhea@hotmail.com,http://www.martinmorrissey.co.uk
475,Lohrenz,Ivory,Auto Body Color,9 Jackson St,Parr Ward,Merseyside,WA9 3QW,01876-642683,01651-132519,ivory@hotmail.com,http://www.autobodycolor.co.uk
476,Walka,Nikita,"Fred, Anthony Esq",3612 Bixteth St,Hucknall North Ward,Nottinghamshire,NG15 8DD,01282-123434,01724-455145,nwalka@hotmail.com,http://www.fredanthonyesq.co.uk
477,Ligons,Aleta,Advantage Bookkeeping,4545 Victoria Rd,Kilbirnie and Beith Ward,North Ayrshire,KA15 1AT,01952-535977,01715-637895,aleta_ligons@hotmail.com,http://www.advantagebookkeeping.co.uk
486,Gaucher,Sophia,T C E Systems Inc,88 Upper Harrington St,North East Ward,North Lanarkshire,G69 8EL,01504-539114,01254-919378,sophia.gaucher@hotmail.com,http://www.tcesystemsinc.co.uk
490,Ausdemore,Rosita,"Jurdem, Scott Esq",8 Heathfield St #657,Hailsham,East Sussex,BN27 1AJ,01273-236188,01997-765432,rausdemore@hotmail.com,http://www.jurdemscottesq.co.uk
491,Stancil,Huey,Lindner Funds,275 Peel Sq,Park Ward,North Eart Lincolnshire,DN32 0PT,01502-139578,01468-195646,hstancil@hotmail.com,http://www.lindnerfunds.co.uk
492,Fiorino,Elbert,"Donald, G Nelson Esq",726 Westmoreland Place,Ballochmyle Ward,East Ayrshire,KA5 6EL,01724-467889,01992-537553,elbert@hotmail.com,http://www.donaldgnelsonesq.co.uk
499,Richan,Mi,Nelson Wright Haworth Golf Crs,6 Norwood Grove,Tanworth-in-Arden,Warwickshire,B94 5RZ,01451-785624,01202-738406,mi@hotmail.com,http://www.nelsonwrighthaworthgolfcrs.co.uk

In [257]:
# Select rows with last_name equal to some values, all columns
data.loc[data['first_name'].isin(['France', 'Tyisha', 'Eric'])]

,last_name,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
2,Andrade,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
4,Veness,Tyisha,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
5,Rampy,Eric,"Thompson, Michael C Esq",9472 Lind St,Desborough,Northamptonshire,NN14 2GH,01969-886290,01545-817375,erampy@rampy.co.uk,http://www.thompsonmichaelcesq.co.uk

In [258]:
# Select rows with first name Antonio AND hotmail email addresses
data.loc[data['email'].str.endswith("gmail.com") & (data['first_name'] == 'Antonio')]

,last_name,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
272,Villamarin,Antonio,Combs Sheetmetal,353 Standish St #8264,Little Parndon and Hare Street,Hertfordshire,CM20 2HT,01559-403415,01388-777812,antonio.villamarin@gmail.com,http://www.combssheetmetal.co.uk
427,Heilig,Antonio,Radisson Suite Hotel,35 Elton St #3,Ipplepen,Devon,TQ12 5LL,01324-171614,01442-946357,antonio.heilig@gmail.com,http://www.radissonsuitehotel.co.uk

In [259]:
# select rows with id column between 100 and 200, and just return 'postal' and 'web' columns
#data.loc[(data['id'] > 100) & (data['id'] <= 200), ['postal', 'web']] 
DOES NOT WORK

SyntaxError: invalid syntax (<ipython-input-259-66cf40fa0525>, line 3)

In [260]:
# A lambda function that yields True/False values can also be used.
# Select rows where the company name has 4 words in it.
data.loc[data['company_name'].apply(lambda x: len(x.split(' ')) == 4)]

,last_name,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
2,Andrade,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
5,Rampy,Eric,"Thompson, Michael C Esq",9472 Lind St,Desborough,Northamptonshire,NN14 2GH,01969-886290,01545-817375,erampy@rampy.co.uk,http://www.thompsonmichaelcesq.co.uk
11,Erm,Charlesetta,"Cain, John M Esq",5 Hygeia St,Loundsley Green Ward,Derbyshire,S40 4LY,01276-816806,01517-624517,charlesetta_erm@gmail.com,http://www.cainjohnmesq.co.uk
15,Throssell,Michell,Weiss Spirt & Guyer,89 Noon St,Carbrooke,Norfolk,IP25 6JQ,01967-580851,01672-496478,mthrossell@throssell.co.uk,http://www.weissspirtguyer.co.uk
16,Kanne,Edgar,"Crowan, Kenneth W Esq",99 Guthrie St,New Milton,Hampshire,BH25 5DF,01326-532337,01666-638176,edgar.kanne@yahoo.com,http://www.crowankennethwesq.co.uk
19,Lapinski,Mee,Galloway Electric Co Inc,9 Pengwern St,Marldon,Devon,TQ3 1SA,01578-287816,01939-815208,mee.lapinski@yahoo.com,http://www.gallowayelectriccoinc.co.uk
20,Gutierres,Peter,Niagara Custombuilt Mfg Co,4410 Tarlton St,Prestatyn Community,Denbighshire,LL19 9EG,01842-767201,01859-648598,peter_gutierres@yahoo.com,http://www.niagaracustombuiltmfgco.co.uk
22,Teplica,Martha,"Curtin, Patricia M Esq",148 Rembrandt St,Warlingham,Surrey,CR6 9SW,01677-684257,01583-287367,mteplica@teplica.co.uk,http://www.curtinpatriciamesq.co.uk
23,Veigel,Tamesha,"Wilhelm, James E Jr",2200 Nelson St #58,Newport,Isle of Wight,PO30 5AL,01217-342071,01280-786847,tveigel@veigel.co.uk,http://www.wilhelmjamesejr.co.uk
25,Kufner,Leonard,Arctic Star Distributing Inc,41 Canning St,Steornabhagh a Deas Ward,Western Isles,HS1 2PZ,01230-623547,01604-718601,lkufner@kufner.co.uk,http://www.arcticstardistributinginc.co.uk
26,Tauras,Svetlana,"Lensbower, Gregory L Esq",8289 Cadogan St,South Ward,North Eart Lincolnshire,DN33 1AU,01781-827317,01509-121140,svetlana_tauras@tauras.co.uk,http://www.lensbowergregorylesq.co.uk
29,Quarto,Karma,J C S Machinery,1 Birkett St,Shard End Ward,West Midlands,B33 0NH,01857-864722,01307-667811,kquarto@gmail.com,http://www.jcsmachinery.co.uk
30,Weisinger,Reed,"Berick, Joseph G Esq",5147 Blackstone St,Letchworth South West Ward,Hertfordshire,SG6 3LE,01243-678286,01292-297245,reed_weisinger@yahoo.com,http://www.berickjosephgesq.co.uk
32,Savidge,Milly,Bridgeway Plan For Health,129 Alexander Pope St,Franche Ward,Hereford and Worcester,DY11 9BW,01702-725589,01421-132652,milly@gmail.com,http://www.bridgewayplanforhealth.co.uk
35,Mould,Alethea,"Hughlett, Henry T Jr",6305 Elstow St,Castle Ward,West Sussex,BN12 6PR,01662-114247,01351-868965,alethea@hotmail.com,http://www.hughletthenrytjr.co.uk
36,Loperfido,Margurite,Penrose Place Pharmacy Inc,218 Greenbank Drive,Devizes,Wiltshire,SN10 3DU,01407-866759,01640-661191,mloperfido@gmail.com,http://www.penroseplacepharmacyinc.co.uk
37,Sperazza,Vernice,"Novak, Alan Paul Esq",8921 Forge St,Colnbrook with Poyle,Buckinghamshire,SL3 0PY,01822-563044,01765-519419,vernice@yahoo.com,http://www.novakalanpaulesq.co.uk
39,Cua,Craig,"Berry, John M Esq",8388 Bessemer St #5,East Putney Ward,Greater London,SW15 2RP,01483-418969,01818-980469,craig@hotmail.com,http://www.berryjohnmesq.co.uk
40,Dulle,Jenise,"Alden, Michael H Esq",87 Pownall Sq,Sawston,Cambridgeshire,CB22 3BB,01709-854691,01572-193368,jenise.dulle@hotmail.com,http://www.aldenmichaelhesq.co.uk
45,Orizabal,Melina,Sheraton Inn Ocean Front,3 Nevison St,Lymington and Pennington,Hampshire,SO41 1DL,01420-307327,01245-559333,melina@gmail.com,http://www.sheratoninnoceanfront.co.uk
46,Clapham,Tina,Cooper Myers Y Co,5662 William Moult St,Aylesbury,Buckinghamshire,HP21 8PP,01567-296442,01493-245349,tclapham@gmail.com,http://www.coopermyersyco.co.uk
49,Kunimitsu,Carrol,Kisc 98 Kiss Fm,1 Askew St,Farnham,Surrey,GU9 9AS,01260-641258,01415-364461,carrol_kunimitsu@yahoo.com,http://www.kisckissfm.co.uk
50,Mosseri,Alba,"Schwartzbard, Gail L Esq",4 Burnall St,Beeston West Ward,Nottinghamshire,NG9 1AE,01543-198690,01231-806535,alba@gmail.com,http://www.schwartzbardgaillesq.co.uk
52,Neufville,Rory,"Brady, Brad J Esq",5 Chadwick St #7,Llangeler Community,Ceredigion,SA44 5HF,01252-621329,01442-700486,rory_neufville@neufville.co.uk,http://www.bradybradjesq.co.uk
57,Salta,Justine,Barajas & Bustamante Archl,85 Bridgewater St,Shard End Ward,West Midlands,B34 7BP,01689-253476,01376-851958,justine_salta@yahoo.com,http://www.barajasbustamantearchl.co.uk
59,Chisum,Tequila,Bohs Well Drilling Inc,662 Grove Park,Bulwell Ward,Nottinghamshire,NG6 8RG,01835-634521,01702-946496,tequila.chisum@chisum.co.uk,http://www.bohswelldrillinginc.co.uk
60,Consolazio,Maybelle,"Gavin, Lee W Esq",5410 Lawton St,Treorchy Community,Rhondda Cynon Taff,CF42 6PL,01383-647035,01351-200904,mconsolazio@yahoo.com,http://www.gavinleewesq.co.uk
61,Bairo,Margarett,"Reid, Carleton B Esq",3 August Rd,Maybury and Sheerwater Ward,Surrey,GU21 5QL,01670-813697,01903-424890,margarett@gmail.com,http://www.reidcarletonbesq.co.uk
65,Yadao,Lindsay,"Lutz, Christopher T Esq",7 Jolliffe St,Middlewich,Cheshire,CW10 9GB,01947-566661,01481-295251,lindsay_yadao@yadao.co.uk,http://www.lutzchristophertesq.co.uk
72,Stifflemire,Stevie,Packaging Corp Of America,9 Gradwell St,Kempshott Ward,Hampshire,RG22 5HA,01262-808399,01411-169215,stevie_stifflemire@stifflemire.co.uk,http://www.packagingcorpofamerica.co.uk
...,...,...,...,...,...,...,...,...,...,...,...
413,Plues,Shelia,"Schen, Sanford E Md",9730 Dunnet St,Silloth-on-Solway,Cumbria,CA7 4RB,01818-260618,01574-927461,shelia@gmail.com,http://www.schensanfordemd.co.uk
415,Frede,Evelynn,"Hasselberg, Michael R Esq",8 Breckfield Road North,Seaham,County Durham,SR7 0AZ,01289-621482,01571-460710,evelynn.frede@gmail.com,http://www.hasselbergmichaelresq.co.uk
418,Maricle,Dusti,"Garton, Jeffrey P Esq",59 Charles St,Victoria Ward,Kent,TN23 4GF,01642-202972,01806-219415,dusti@gmail.com,http://www.gartonjeffreypesq.co.uk
421,Stackpole,Leana,Direct Tools & Fasteners,690 Copenhagen Rd,Warham,Norfolk,NR23 1NJ,01248-325090,01386-257445,lstackpole@yahoo.com,http://www.directtoolsfasteners.co.uk
422,Homer,Man,Applied Robotic Tech Inc,7 Canton St,Mildmay Ward,Greater London,N1 4RF,01590-219449,01855-550515,man.homer@gmail.com,http://www.appliedrobotictechinc.co.uk
424,Naomi,Arletta,E Zaks & Co,9 Lodwick St,City and Hunslet Ward,West Yorkshire,LS1 8HZ,01255-805722,01518-773815,arletta_naomi@naomi.co.uk,http://www.ezaksco.co.uk
426,Pao,Nell,"Madaus, Gerald F Jr",1730 Seymour St,Eastbrook Ward,Brighton and Hove,BN41 1QH,01308-582144,01773-576318,npao@gmail.com,http://www.madausgeraldfjr.co.uk
430,Hoyal,Alayna,South Bldg Code Congres,70 Royal St,Banchory and Mid Deeside Ward,Aberdeenshire,AB31 4AH,01964-720542,01983-132813,alayna_hoyal@hotmail.com,http://www.southbldgcodecongres.co.uk
433,Saik,Royce,Best Western Caprock Inn,2 Maple Grove,Kincorth,Aberdeenshire,AB12 5EJ,01972-770618,01431-812225,royce@hotmail.com,http://www.bestwesterncaprockinn.co.uk
434,Sorrel,Cherelle,"Wiltgen, Nancy A Esq",794 Hook St,Benwell and Scotswood Ward,Tyne and Wear,NE15 7JA,01753-327307,01212-458253,cherelle_sorrel@gmail.com,http://www.wiltgennancyaesq.co.uk
435,Dibartolo,Dudley,"Mcknight, H Vincent Jr",91 Ludlow St,Woodhouse Ward,Greater London,N12 0EF,01997-409950,01722-935404,dudley_dibartolo@yahoo.com,http://www.mcknighthvincentjr.co.uk
436,Aldaco,Nettie,Miller Searl & Fitch,51 Freehold St #224,Wheatley Ward,"Yorkshire, South",DN2 4PP,01388-974910,01681-983353,nettie.aldaco@yahoo.com,http://www.millersearlfitch.co.uk
437,Bulcao,Carline,"Brenner, Steven G Esq",7 Hey Green Rd #4,Rothwell Ward,West Yorkshire,LS26 8XE,01885-707109,01381-330004,carline@yahoo.com,http://www.brennerstevengesq.co.uk
440,Study,Lovetta,Borton Petrini & Conron,1 Jervis St,High Barnet Ward,Greater London,EN5 4LH,01593-438141,01424-249976,lovetta@study.co.uk,http://www.bortonpetriniconron.co.uk
444,Farrin,Paul,"Dering, James E Esq",7 Varthen St,Town Ward,Kent,DA1 2DL,01407-775572,01879-963638,paul.farrin@farrin.co.uk,http://www.deringjameseesq.co.uk
446,Bowhall,Ona,Cohen And Fromm Pc,527 Harding St,Market Rasen,Lincolnshire,LN8 3AD,01467-554624,01984-207421,ona@yahoo.com,http://www.cohenandfrommpc.co.uk
448,Schellenberge,Vicky,Medlab Environmental Test Inc,3922 Leda St,Moreton Morrell,Warwickshire,CV35 9BX,01625-805645,01602-772009,vschellenberge@hotmail.com,http://www.medlabenvironmentaltestinc.co.uk
450,Adelsperger,Rusty,"Clarke, James H Esq",4313 Princes Park Terrace,Launceston,Cornwall,PL15 9QN,01467-172590,01338-121225,rusty.adelsperger@yahoo.com,http://www.clarkejameshesq.co.uk
452,Gesell,Teresita,Mason Insurance Agency Inc,2015 Suburban Rd,Springfield Ward,Greater London,N16 6TD,01914-501391,01372-236506,teresita_gesell@hotmail.com,http://www.masoninsuranceagencyinc.co.uk
453,Gius,Evangelina,J T Painting Corp,769 Euston St,Glastonbury,Somerset,BA6 8EY,01563-997671,01377-310696,evangelina.gius@yahoo.com,http://www.jtpaintingcorp.co.uk
457,Weissmann,Domitila,"Ciocia, James A Esq",28 Berwick St,Moordown Ward,Bournemouth,BH9 1TT,01606-833878,01928-189722,domitila@gmail.com,http://www.ciociajamesaesq.co.uk
460,Blyler,Carlton,Hardware Specialty Co Inc,8 Pim Hill St,Portobello,City of Edinburgh,EH15 2HW,01437-681317,01604-200932,carlton@blyler.co.uk,http://www.hardwarespecialtycoinc.co.uk
467,Khov,Peggy,"Goldberg, Stephen M Esq",328 Pallas St,Longford Ward,Greater Manchester,M32 8LJ,01619-237602,01648-417310,peggy.khov@gmail.com,http://www.goldbergstephenmesq.co.uk
473,Piatkowski,Isabella,"Miller, William E Iii",9283 Ruth St #81,Dormers Wells Ward,Greater London,UB1 2FH,01979-186995,01998-980054,isabella_piatkowski@piatkowski.co.uk,http://www.millerwilliameiii.co.uk
480,Machalek,Tijuana,"Schwartz, Thomas E Esq",1149 Highfield Rd #996,Fareham South Ward,Hampshire,PO14 9JJ,01242-532395,01336-686264,tijuana.machalek@gmail.com,http://www.schwartzthomaseesq.co.uk
481,Alsaqri,Ahmad,Alliance Construction Co Inc,21 Pickwick St,Sutton cum Duckmanton,Derbyshire,S44 5DS,01567-555570,01852-550588,ahmad.alsaqri@yahoo.com,http://www.allianceconstructioncoinc.co.uk
484,Reibman,Jacquelyne,Great Clips For Hair,70 Lilly Rd,Shirley Ward,Greater London,CR0 7PT,01846-581451,01850-754504,jacquelyne_reibman@yahoo.com,http://www.greatclipsforhair.co.uk
487,Kono,Isabelle,Rock Springs Petroleum Equip,4920 Fazakerley Rd,Plymstock Dunstone Ward,Devon,PL9 8RD,01552-682601,01953-816728,isabelle.kono@yahoo.com,http://www.rockspringspetroleumequip.co.uk
492,Fiorino,Elbert,"Donald, G Nelson Esq",726 Westmoreland Place,Ballochmyle Ward,East Ayrshire,KA5 6EL,01724-467889,01992-537553,elbert@hotmail.com,http://www.donaldgnelsonesq.co.uk
498,Keeny,Celestina,Bfg Federal Credit Union,9 Milton St,Consett North ED,County Durham,DH8 5LP,01877-379681,01600-463475,celestina_keeny@gmail.com,http://www.bfgfederalcreditunion.co.uk

In [266]:
# Selections can be achieved outside of the main .loc for clarity:
# Form a separate variable with your selections:
idx = data['company_name'].apply(lambda x: len(x.split(' ')) == 4)
idx

0      False
1      False
2       True
3      False
4      False
5       True
6      False
7      False
8      False
9      False
10     False
11      True
12     False
13     False
14     False
15      True
16      True
17     False
18     False
19      True
20      True
21     False
22      True
23      True
24     False
25      True
26      True
27     False
28     False
29      True
       ...
470    False
471    False
472    False
473     True
474    False
475    False
476    False
477    False
478    False
479    False
480     True
481     True
482    False
483    False
484     True
485    False
486    False
487     True
488    False
489    False
490    False
491    False
492     True
493    False
494    False
495    False
496    False
497    False
498     True
499    False
Name: company_name, dtype: bool

In [262]:
# Select only the True values in 'idx' and only the 3 columns specified:
data.loc[idx, ['email', 'first_name', 'company']]

                                    email   first_name  company
2              france.andrade@hotmail.com       France      NaN
5                      erampy@rampy.co.uk         Eric      NaN
11              charlesetta_erm@gmail.com  Charlesetta      NaN
15             mthrossell@throssell.co.uk      Michell      NaN
16                  edgar.kanne@yahoo.com        Edgar      NaN
19                 mee.lapinski@yahoo.com          Mee      NaN
20              peter_gutierres@yahoo.com        Peter      NaN
22                 mteplica@teplica.co.uk       Martha      NaN
23                   tveigel@veigel.co.uk      Tamesha      NaN
25                   lkufner@kufner.co.uk      Leonard      NaN
26           svetlana_tauras@tauras.co.uk     Svetlana      NaN
29                      kquarto@gmail.com        Karma      NaN
30               reed_weisinger@yahoo.com         Reed      NaN
32                        milly@gmail.com        Milly      NaN
35                    alethea@hotmail.com      Alethea      NaN
36                   mloperfido@gmail.com    Margurite      NaN
37                      vernice@yahoo.com      Vernice      NaN
39                      craig@hotmail.com        Craig      NaN
40               jenise.dulle@hotmail.com       Jenise      NaN
45                       melina@gmail.com       Melina      NaN
46                     tclapham@gmail.com         Tina      NaN
49             carrol_kunimitsu@yahoo.com       Carrol      NaN
50                         alba@gmail.com         Alba      NaN
52         rory_neufville@neufville.co.uk         Rory      NaN
57                justine_salta@yahoo.com      Justine      NaN
59            tequila.chisum@chisum.co.uk      Tequila      NaN
60                  mconsolazio@yahoo.com     Maybelle      NaN
61                    margarett@gmail.com    Margarett      NaN
65              lindsay_yadao@yadao.co.uk      Lindsay      NaN
72   stevie_stifflemire@stifflemire.co.uk       Stevie      NaN
..                                    ...          ...      ...
413                      shelia@gmail.com       Shelia      NaN
415               evelynn.frede@gmail.com      Evelynn      NaN
418                       dusti@gmail.com        Dusti      NaN
421                  lstackpole@yahoo.com        Leana      NaN
422                   man.homer@gmail.com          Man      NaN
424             arletta_naomi@naomi.co.uk      Arletta      NaN
426                        npao@gmail.com         Nell      NaN
430              alayna_hoyal@hotmail.com       Alayna      NaN
433                     royce@hotmail.com        Royce      NaN
434             cherelle_sorrel@gmail.com     Cherelle      NaN
435            dudley_dibartolo@yahoo.com       Dudley      NaN
436               nettie.aldaco@yahoo.com       Nettie      NaN
437                     carline@yahoo.com      Carline      NaN
440                   lovetta@study.co.uk      Lovetta      NaN
444              paul.farrin@farrin.co.uk         Paul      NaN
446                         ona@yahoo.com          Ona      NaN
448            vschellenberge@hotmail.com        Vicky      NaN
450           rusty.adelsperger@yahoo.com        Rusty      NaN
452           teresita_gesell@hotmail.com     Teresita      NaN
453             evangelina.gius@yahoo.com   Evangelina      NaN
457                    domitila@gmail.com     Domitila      NaN
460                  carlton@blyler.co.uk      Carlton      NaN
467                  peggy.khov@gmail.com        Peggy      NaN
473  isabella_piatkowski@piatkowski.co.uk     Isabella      NaN
480            tijuana.machalek@gmail.com      Tijuana      NaN
481               ahmad.alsaqri@yahoo.com        Ahmad      NaN
484          jacquelyne_reibman@yahoo.com   Jacquelyne      NaN
487               isabelle.kono@yahoo.com     Isabelle      NaN
492                    elbert@hotmail.com       Elbert      NaN
498             celestina_keeny@gmail.com    Celestina      NaN

[192 rows x 3 columns]

In [267]:
# ix indexing works just the same as .loc when passed strings
data.ix[['Andrade']] == data.loc[['Andrade']]

KeyError: "None of [['Andrade']] are in the [index]"

In [268]:
# ix indexing works the same as .iloc when passed integers.
data.ix[[33]] == data.iloc[[33]]

,last_name,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
33,True,True,True,True,True,True,True,True,True,True,True

###### Setting values in DataFrames using .loc
With a slight change of syntax, you can actually update your DataFrame in the same statement as you select and filter using .loc indexer. This particular pattern allows you to update values in columns depending on different conditions. The setting operation does not make a copy of the data frame, but edits the original data.

As an example:

In [272]:
# Change the first name of all rows with an ID greater than 2000 to "John"
data.loc[data['id'] > 2000, "first_name"] = "John"

KeyError: 'id'

In [270]:
# Change the first name of all rows with an ID greater than 2000 to "John"
data.loc[data['id'] > 2000, "first_name"] = "John"

KeyError: 'idx'